
 
  
  .k-dropzone-inner{
    background-color: #f1d0aa !important;
    border: 1px dashed #f09021 !important;
    margin-top: 2rem;
  }

  .k-upload .k-upload-button{
    background-color: #F09021 !important;
    border-radius: 0px !important;
    color: white !important;
  }