.heading {
  padding-top: 56px;
  padding-bottom: 24px;
  font-family: Figtree;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b3f58;
  width: 100%;
}

.field-container {
  position: relative;
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
    right: 24px;
    top: 2.1rem;
    width: 40%;
    height: 3rem;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border: 1px solid #CED4DA;
}

.overlay-Step4 {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 40%;
  height: 3rem;
  background-color: #ebebeb; /* Grey background with some opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey; /* Text color */
}

.input-wrapper {
  flex: 2;
  margin-right: 10px; /* Adjust the spacing between the inputs */
  position: relative;
}
.sub-heading {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.sub-sub-heading {
  font-family: Figtree;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #556877;
}
/* .drop-zone {
  height: 10rem;
  padding-top: 2rem;
} */

.container {
  position: fixed; /* Fixed position */
  bottom: 0; /* Position it at the top of the viewport */
  right: 0; /* Position it at the right of the viewport */
  background-color: white;
  height: 3rem;
  width: 100%;
  display: flex; /* Enable flex layout */
  justify-content: flex-end; /* Move button to the right */
  align-items: center; /* Vertically center the button */
  z-index: 999; 
  border-top: 1px solid #CED4DA
}

.k-input-solid {
  border-color: #CED4DA !important;
  background-color: #F9F9F9 !important;
  height: 48px !important;
  width: 392px !important;
  margin-right: 24px !important;
}

/* Style for the button */

.k-form{
color: #556877 !important;
font-family: Figtree !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 140% !important; /* 19.6px */
/* padding-bottom: 4px !important; */
}

.k-picker-solid{
  border-color: #CED4DA !important;
  background-color: #F9F9F9 !important;
  height: 48px !important;
  width: 392px !important;
  border-radius: 0px !important;

}
.k-label{
  color: #556877 !important;
font-family: Figtree !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 140% !important; /* 19.6px */

}

.k-form .k-floating-label-container{
  width: 392px !important;
  margin-right: 24px !important;
  /* height: 48px !important; */
}

.k-floating-label-container{
  margin-top: 12px !important;
}
