.panelbar-wrapper {
  width: 70vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto 40px;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
}

.panelbar-wrapper h1 {
  text-align: center;
  padding-bottom: 40px;
}

.k-panelbar > .k-panelbar-header > .k-link {
  color: #000;
  outline: none !important;
}

.k-panelbar > .k-panelbar-header > .k-link.k-selected,
.k-panelbar .k-panelbar-group > .k-panelbar-item > .k-link.k-selected {
  background-color: #fff !important;
  color: #000 !important;
  outline: 0 !important;
  border: none !important;
}

.k-panelbar .k-panelbar-group > .k-panelbar-item > .k-link:hover,
.k-panelbar > .k-panelbar-header > .k-link:hover {
  background-color: #fff;
  cursor: pointer;
}

.k-panelbar-item-text {
  color: #1b3f58;
  font-family: Figtree;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.k-panelbar-content,
.k-content {
  font-family: Figtree;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.k-panelbar,
.k-pos-relative {
  border: none !important;
}

.k-link,
.k-selected {
  outline: 0 !important;
}

.k-svg-icon > svg {
  display: none !important;
}

.k-svg-icon > svg::before {
  content: "\002B" !important;
}
